{% extends "tracker/base.html" %}
{% load crispy_forms_tags %}


{% block content %}
  <head>
  </head>
    <div class="content-section">
      <div class="media">
        <div class="media-body">
          <h2 class="account-heading">{{ user.username }}</h2>
          <p class="text-secondary">{{ user.email }}</p>
        </div>
      </div>
      <!-- FORM HERE -->
    </div>
    <div class="content-section">
      <form action="/your-name/" method="post">
        {% csrf_token %}
        {{ form|crispy }}
        <input type="submit" value="Submit">
      </form>
    </div>




{% endblock content %}
